@import url('https://fonts.googleapis.com/css2?family=Cabin:weight@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin',sans-serif;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main section start here---------------------------------------------------*/
.main{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(196,255,235);

}
/* main section ends here-----------------------------------------------------*/

/*left section start here------------------------------------------------------*/
.left{
    flex: 1;
    color: black;
    padding: 20px 20px 20px 100px;
}
.left h1{
    font-size: 50px;
    padding: 10px 0px;
}
.left h3{
    font-size: 30px;
}
.left p{
    font-size: 20px;
    padding: 30px 0px;
}
.btn button{
    border: none;
    background-color: transparent;
    margin-right: 10px;
    padding: 15px;
    font-size: 20px;
    transition: .3s ease-in all;

}
.btn button:nth-child(1){
    border: 2px solid black;
    color: black;
}
.btn button:nth-child(2){
    background-color: black;
    /*  border: 2px solid black; */
    color: white;
}
.btn button:nth-child(1):hover{
    background-color: black;
    color: white;
}
.btn button:nth-child(2):hover{
    border: 2px solid black;
    background-color: transparent;
    color: black;
}
/*left section ends here--------------------------------------------------------*/

/*right section start here-----------------------------------------------------*/
.right{
    flex: 1.3;
    width: 100%;
}
.right img{
    width: 90%;
    height: auto;
    object-fit: cover;
    margin-bottom: 100px;
    filter: drop-shadow(10px 10px 10px rgb(54,54,54))
}

/*right section ends here-------------------------------------------------------*/

/*responsive section------------------------------------------*/
@media screen and (max-width: 1100px){
    .left{
        padding:20px;
    }
    .left h3{
        font-size: 25px;
    }
    
}
@media screen and (max-width: 1100px){
    .main{
        flex-direction: column-reverse;
    }
     
}